.certificate {

    min-width: 400px;
}

.hintStyle {
    margin-bottom: 1rem
}

.pStyle {
    margin-left: 3px;
    margin-right: 3px
}

.titleStyle {
    font-weight: 600;
    color: chocolate;
    background-color: #F7F7F7;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px
}

.deleteStyle {
    margin-left: 3px;
    margin-right: 3px
}

.editStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 3px;
    margin-right: 7px;
}

.searchStyle {
    min-width: 435px;
    margin-right: 10px
}

.btnPopover {
    /*line-height: 10px;*/
    height: 25px;
    text-align: center;
    width: 24px;
    font-size: 15px;
    color: #eeeeee;
    cursor: pointer;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: #30bbb0;
}

.fixed-top-2 {
    margin-top: 66px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}